Repositorio personal LMSGI/xsd/ejercicios crear xsd/xml-xsd-ejercicio6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="universoMarvel" type="tipoUniversoMarvel"/>

    <xs:complexType name="tipoUniversoMarvel">
        <xs:sequence>
            <xs:element name="personaje" type="tipoPersonaje"/>
        </xs:sequence>
    </complexType>

    <xs:complexType name="tipoPersonaje">
        <xs:sequence>
            <xs:element name="traje" type="tipoTraje" maxOccurs="unbounded"/>
            <xs:element name="enemigo"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tipoTraje">
        <xs:sequence>
            <xs:element name="creador"/>
            <xs:element name="colores" type="tipoColores" maxOccurs="unbounded"/>
            <xs:element name="enemigo"/>            
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tipoColores">
        <xs:sequence>
            <xs:element name="color">
        </xs:sequence>
    </xs:complexType>
</xs:schema>
