Repositorio personal LMSGI/xsd/practicasparaexamen/Examen_A_Mascotas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tiendaMascotas" type="tipoTiendaMascotas"/>
    
        <xs:complexType name="tipotiendaMascotas">
            <xs:attribute name="nombre" type="xs:string" use="required"/>
        </xs:complexType>
    
    <xs:complexType name="tipoTiendaMascotas">
        <xs:sequence>
            <xs:element name="reptiles" type="tipoReptiles"/>
            <xs:element name=""


        </xs:sequence>
    </xs:complexType>

</xs:schema>