Repositorio personal LMSGI/xsd/ejercicio2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="marvel">
    </xs:element>
    <xs:element name="superheroe">
        <xs:complexType>

            <xs:sequence>

            <xs:element name="poder" maxOccurs="unbounded" type="textoNoVacio"/>
            <xs:element name="color" maxOccurs="unbounded" type="textoNoVacio"/>
            <xs:element name="procedencia" maxOccurs="unbounded" type="textoNoVacio"/>


            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="required"/>
            



        </xs:complexType>

    </xs:element>
    

</xs:schema>